<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantSearchApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header style="height:80px;font-size:24px">
        <div class="header-logo text-monospace text-decoration-none mt-3">
          <%= link_to("RestaurantSearchApp","/") %>
        </div>
      </header>
    </div>
    
    <%= yield %>
  </body>
</html>
